[Desktop Entry]
Name=Whisper Wayland
Comment=Global Voice-to-Text for Wayland
Exec=/run/media/jrufer/NVME/Development/Whisper-Wayland/venv/bin/python3 /run/media/jrufer/NVME/Development/Whisper-Wayland/src/main.py
Icon=/run/media/jrufer/NVME/Development/Whisper-Wayland/assets/record_on.png
Terminal=false
Type=Application
Categories=Utility;AudioVideo;
StartupNotify=false
Keywords=whisper;voice;dictation;wayland;
